.img-producto{
  width: 120px; 
  height: auto;
}

.tabla-producto{
  height: 100px;
}

tr.oferta td {
  background: rgb(252, 231, 69);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

tr.oferta td:first-child { //td:first-child = selecciona el primer <td> hijo dentro de su padre
  border-left: 2px solid black;
}

tr.oferta td:last-child {
  border-right: 2px solid green;
}

.boton-compra{
  padding: 2px 7px; 
  font-size: 15px
}

.compra-producto{
  border: 2px solid black;
  border-radius: 8px;
  padding: 4px;
}

.input-cantidad{
  width: 35px;
}