.invalid{
    font-weight: bold;
}

// .fullscreen-bg {
    // background: linear-gradient(to right, #d83826, #fff957);
// }

.div-form{
    max-width: 600px; 
    width: 100%;
    padding: 5px 20px 5px 20px;
}

