.boton-compra{
  // padding: 2px 7px; 
  font-size: 10px
}

.compra-producto{
  border: 2px solid black;
  border-radius: 8px;
  // padding: 4px;
  background-color: white;
}

input{
  background-color: white;
  border: none;
  text-align: center;
  width: 35px;
}

